# ==========================================
# GENERAL
# ==========================================
# Pilihan: development, beta, production
# Gunakan 'development' untuk lokal agar log lebih detail
APP_ENV=development

# ==========================================
# INFRASTRUCTURE & DATABASE (Digunakan BE & FE)
# ==========================================
# Konfigurasi MongoDB (Default menunjuk ke container 'mongo' di Docker)
URI_MONGO=mongodb://mongo:27017
DATABASE=vms_project

# Konfigurasi Redis (Default menunjuk ke container 'redis' di Docker)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
# Biarkan kosong jika redis lokal/docker tidak menggunakan password
REDIS_PASSWORD=

# ==========================================
# OPTIONAL: FRONTEND CONFIGURATION
# ==========================================
# Secara default, aplikasi sudah cukup cerdas untuk menggunakan http://backend:5000 
# di lokal berkat API_URL_MAPPING. 
# HANYA isi variabel di bawah ini jika Anda ingin menimpa (override) URL default!
# API_URL=http://localhost:5000