<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css">
    <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>
<body>
    <script>
        webix.ready(function() {
            webix.ui({
                type: "space",
                rows: [
                    {
                        align: "middle,center",
                        body: {
                            id: "registerForm",
                            view: "form",
                            scroll: false,
                            width: 350,
                            elements: [ 
                                {
                                    view: "label",
                                    label: "SignUp VMS",
                                    align: "center"
                                },
                                {
                                    view: "text",
                                    label: "Username",
                                    id: "username",
                                    name: "username",
                                    invalidMessage: "Username cannot be empty",
                                    placeholder: "Enter your username",
                                    clear: true,
                                },
                                {
                                    view: "text",
                                    type: "email",
                                    label: "E-mail",
                                    id: "email",
                                    name: "email",
                                    invalidMessage: "Incorrect email address",
                                    placeholder: "Enter your email",
                                    clear: true,
                                },
                                {
                                    view: "text",
                                    type: "password",
                                    label: "Password",
                                    id: "password",
                                    name: "password",
                                    invalidMessage: "Password cannot be empty",
                                    placeholder: "Enter your password",
                                    relatedView: "repeatPassword", relatedAction: "enable",
                                    clear: true,
                                },
                                {
                                    view: "text",
                                    type: "password",
                                    label: "Repeat Password",
                                    id: "repeatPassword",
                                    name: "repeatPassword",
                                    invalidMessage: "Repeat Password cannot be empty",
                                    placeholder: "Repeat your password",
                                    disabled:true, clear: true,
                                },
                                {
                                    view: "button",
                                    id: "btnRegister",
                                    value: "SignUp",
                                    css: "webix_primary",
                                    hotkey: "enter"
                                },
                                {
                                    view: "button",
                                    id: "btnLogin",
                                    value: "Login",
                                    css: "webix_secondary",
                                    click: function() {
                                        window.location.href = "/login";
                                    }
                                }
                            ],
                            rules: {
                                $all: webix.rules.isNotEmpty,
                                $obj:function(data){
                                    if (!data.password || !data.repeatPassword) {
                                        return false;
                                    }
                                    if (data.password !== data.repeatPassword){
                                            webix.alert({
                                                type:"alert-error", 
                                                title:"Error",
                                                text:"Passwords are not the same"
                                            }); 
                                            return false;
                                        }
                                    return true;
                                },
                                "email":webix.rules.isEmail
                            },
                            elementsConfig: {
                                labelPosition: "top",
                                labelWidth: 140
                            }
                        }
                    }
                ]
            });
        });

        webix.ready(function(){
        $$("btnRegister").attachEvent("onItemClick", function(){
            var values = $$("registerForm").getValues();
            if ($$("registerForm").validate()) {
                webix.ajax().headers({
                    "Content-Type": "application/json"
                }).post('/register',JSON.stringify(values), {
                    success: function (text,data,xhr) {
                        let response = data.json()
                        message = response.message
                        webix.alert({
                            title:"SignUp",
                            text:"SignUp success, Please login to continue.",
                            ok:"Login",
                            callback: function () {
                                window.location.href = response.url;
                            }
                        });
                    },
                    error: function (text,data,xhr) {
                        let response = data.json()
                        message = response.message
                        webix.message({
                            type:"error",
                            text:message,
                            expire: 5000
                        });
                    }
                });
            }
        });
    });
    </script>
</body>
</html>