<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Webix UI (Offline Lokal) -->
        <link rel="stylesheet" href="{{ url_for('static', filename='webix.min.css') }}" />
        <script src="{{ url_for('static', filename='webix.min.js') }}"></script>

        <!-- Material Design Icons (Offline Lokal) -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}"
        />
        <title>VMS Dashboard</title>
    </head>
    <body>
        <script>
            const vendors = JSON.parse('{{ vendor | tojson | safe }}');
            const branches = JSON.parse('{{ branch | tojson | safe }}');
            const users = JSON.parse('{{ user | tojson | safe }}');
            const bank = JSON.parse('{{ bank | tojson | safe }}');
        </script>
        <!-- Memanggil file JavaScript eksternal -->
        <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    </body>
</html>
