<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Webix CSS via jsDelivr -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/webix/webix.css" />

        <!-- Material Design Icons -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.95/css/materialdesignicons.min.css"
        />

        <!-- Webix JS via jsDelivr -->
        <script src="https://cdn.jsdelivr.net/npm/webix/webix.js" type="text/javascript"></script>
        <title>VMS Dashboard</title>
    </head>
    <body>
        <script>
            const vendors = JSON.parse('{{ vendor | tojson | safe }}');
            const branches = JSON.parse('{{ branch | tojson | safe }}');
            const users = JSON.parse('{{ user | tojson | safe }}');
            const bank = JSON.parse('{{ bank | tojson | safe }}');
        </script>
        <!-- Memanggil file JavaScript eksternal -->
        <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    </body>
</html>
