<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="//cdn.webix.com/materialdesignicons/5.8.95/css/materialdesignicons.min.css"
      type="text/css"
      charset="utf-8"
    />
    <link
      rel="stylesheet"
      href="https://cdn.webix.com/edge/webix.css"
      type="text/css"
    />
    <script
      src="https://cdn.webix.com/edge/webix.js"
      type="text/javascript"
    ></script>
    <title>VMS Dashboard</title>
  </head>
  <body>
    <script>
      const vendors = "{{ vendor | tojson | safe}}";
      const branches = "{{ branch | tojson | safe}}";
      const users = "{{ user | tojson | safe}}";
      const bank = "{{ bank | tojson | safe}}";
    </script>
    <!-- Memanggil file JavaScript eksternal -->
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
  </body>
</html>
