<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Webix UI (Offline Lokal) -->
        <link rel="stylesheet" href="{{ url_for('static', filename='webix.min.css') }}" />
        <script src="{{ url_for('static', filename='webix.min.js') }}"></script>

        <!-- Material Design Icons (Offline Lokal) -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}"
        />
        <title>User</title>
    </head>
    <body>
        <script>
            // Meneruskan data JSON dari backend Flask ke variabel global JavaScript
            const userData = JSON.parse('{{ data | tojson | safe }}');
        </script>
        <!-- Memanggil file JavaScript eksternal -->
        <script src="{{ url_for('static', filename='user.js') }}"></script>
    </body>
</html>
