<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register VMS</title>
    <!-- Webix CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.webix.com/edge/webix.css"
      type="text/css"
    />
    <!-- Webix JS -->
    <script
      src="https://cdn.webix.com/edge/webix.js"
      type="text/javascript"
    ></script>
  </head>
  <body>
    <!-- Memanggil file JavaScript eksternal dari folder static -->
    <script src="{{ url_for('static', filename='register.js') }}"></script>
  </body>
</html>
